.my-4
  %h1.text-center.text-3xl Welcome to Rails ChatGPT App
%div{class: "mt-4 container mx-auto lg:px-32", id: "messages"}
  - if @messages.empty?
    .flex.justify-center.items-center.h-full
      %p.text-center.text-3xl.text-gray-500 There is no messages
  - else
    = render partial: "partials/message", collection: @messages
= form_for ChatMessage.new, url: message_path, method: :post, html: {class: "mt4 container mx-auto lg:px-32"} do |f|
  .flex.justify-between
    = f.text_field :body, class: "form-input block w-full rounded-lg border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50", placeholder: "Type a message"
    = f.submit "Send", class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
